In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('weatherAUS.csv')
df.head(5)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [4]:
df.shape

(142193, 24)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           142193 non-null  object
 1   Location       142193 non-null  object
 2   MinTemp        141556 non-null  float64
 3   MaxTemp        141871 non-null  float64
 4   Rainfall       140787 non-null  float64
 5   Evaporation    81350 non-null   float64
 6   Sunshine       74377 non-null   float64
 7   WindGustDir    132863 non-null  object
 8   WindGustSpeed  132923 non-null  float64
 9   WindDir9am     132180 non-null  object
 10  WindDir3pm     138415 non-null  object
 11  WindSpeed9am   140845 non-null  float64
 12  WindSpeed3pm   139563 non-null  float64
 13  Humidity9am    140419 non-null  float64
 14  Humidity3pm    138583 non-null  float64
 15  Pressure9am    128179 non-null  float64
 16  Pressure3pm    128212 non-null  float64
 17  Cloud9am       88536 non-null   float64
 18  Cloud3pm       85099 non-null   float64
 19  Temp9am        141289 non-null  float64
 20  Temp3pm        139467 non-null  float64
 21  RainToday      140787 non-null  object
 22  RISK_MM        142193 non-null  float64
 23  RainTomorrow   142193 non-null  object
dtypes: float64(17), object(7)
memory usage: 26.0+ MB

In [6]:
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [7]:
df['RISK_MM']

0         0.0
1         0.0
2         0.0
3         1.0
4         0.2
         ...
142188    0.0
142189    0.0
142190    0.0
142191    0.0
142192    0.0
Name: RISK_MM, Length: 142193, dtype: float64

In [8]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,141556.000000,141871.000000,140787.000000,81350.000000,74377.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,128179.000000,128212.000000,88536.000000,85099.000000,141289.000000,139467.000000,142193.000000
mean,12.186400,23.226784,2.349974,5.469824,7.624853,39.984292,14.001988,18.637576,68.843810,51.482606,1017.653758,1015.258204,4.437189,4.503167,16.987509,21.687235,2.360682
std,6.403283,7.117618,8.465173,4.188537,3.781525,13.588801,8.893337,8.803345,19.051293,20.797772,7.105476,7.036677,2.887016,2.720633,6.492838,6.937594,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000,0.000000
75%,16.800000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,371.000000

In [9]:
df.isnull().sum()

Date                 0
Location             0
MinTemp            637
MaxTemp            322
Rainfall          1406
Evaporation      60843
Sunshine         67816
WindGustDir       9330
WindGustSpeed     9270
WindDir9am       10013
WindDir3pm        3778
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Cloud9am         53657
Cloud3pm         57094
Temp9am            904
Temp3pm           2726
RainToday         1406
RISK_MM              0
RainTomorrow         0
dtype: int64

In [10]:
ser = df.isnull().sum()/df.shape[0]*100

In [11]:
ind = ser[ser>=30].index

In [12]:
ind

Index(['Evaporation', 'Sunshine', 'Cloud9am', 'Cloud3pm'], dtype='object')

In [13]:
df.drop(columns=ind,inplace=True)

In [14]:
df

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,E,31.0,ESE,E,15.0,13.0,59.0,27.0,1024.7,1021.2,9.4,20.9,No,0.0,No
142189,2017-06-21,Uluru,2.8,23.4,0.0,E,31.0,SE,ENE,13.0,11.0,51.0,24.0,1024.6,1020.3,10.1,22.4,No,0.0,No
142190,2017-06-22,Uluru,3.6,25.3,0.0,NNW,22.0,SE,N,13.0,9.0,56.0,21.0,1023.5,1019.1,10.9,24.5,No,0.0,No
142191,2017-06-23,Uluru,5.4,26.9,0.0,N,37.0,SE,WNW,9.0,9.0,53.0,24.0,1021.0,1016.8,12.5,26.1,No,0.0,No
142192,2017-06-24,Uluru,7.8,27.0,0.0,SE,28.0,SSE,N,13.0,7.0,51.0,24.0,1019.4,1016.5,15.1,26.0,No,0.0,No

In [15]:
ser = df.isnull().sum()/df.shape[0]*100

In [16]:
ser

Date             0.000000
Location         0.000000
MinTemp          0.447983
MaxTemp          0.226453
Rainfall         0.988797
WindGustDir      6.561504
WindGustSpeed    6.519308
WindDir9am       7.041838
WindDir3pm       2.656952
WindSpeed9am     0.948007
WindSpeed3pm     1.849599
Humidity9am      1.247600
Humidity3pm      2.538803
Pressure9am      9.855619
Pressure3pm      9.832411
Temp9am          0.635756
Temp3pm          1.917113
RainToday        0.988797
RISK_MM          0.000000
RainTomorrow     0.000000
dtype: float64

In [17]:
df['Location'].nunique()

49

In [18]:
df.drop(columns=['Location','Date','RISK_MM'],inplace=True)

In [19]:
df.shape

(142193, 17)

In [20]:
ser1 = ser = df.isnull().sum()/df.shape[0]*100

In [21]:
ser1

MinTemp          0.447983
MaxTemp          0.226453
Rainfall         0.988797
WindGustDir      6.561504
WindGustSpeed    6.519308
WindDir9am       7.041838
WindDir3pm       2.656952
WindSpeed9am     0.948007
WindSpeed3pm     1.849599
Humidity9am      1.247600
Humidity3pm      2.538803
Pressure9am      9.855619
Pressure3pm      9.832411
Temp9am          0.635756
Temp3pm          1.917113
RainToday        0.988797
RainTomorrow     0.000000
dtype: float64

In [22]:
ind1 = ser1[(ser1<=5) & (ser1>0)].index

In [23]:
ind1

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'WindDir3pm', 'WindSpeed9am',
       'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Temp9am', 'Temp3pm',
       'RainToday'],
      dtype='object')

In [24]:
df.head(5)

,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No

In [25]:
df = df.dropna(subset=ind1)

In [28]:
df

,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,3.5,21.8,0.0,E,31.0,ESE,E,15.0,13.0,59.0,27.0,1024.7,1021.2,9.4,20.9,No,No
142189,2.8,23.4,0.0,E,31.0,SE,ENE,13.0,11.0,51.0,24.0,1024.6,1020.3,10.1,22.4,No,No
142190,3.6,25.3,0.0,NNW,22.0,SE,N,13.0,9.0,56.0,21.0,1023.5,1019.1,10.9,24.5,No,No
142191,5.4,26.9,0.0,N,37.0,SE,WNW,9.0,9.0,53.0,24.0,1021.0,1016.8,12.5,26.1,No,No
142192,7.8,27.0,0.0,SE,28.0,SSE,N,13.0,7.0,51.0,24.0,1019.4,1016.5,15.1,26.0,No,No

In [29]:
df.isnull().mean()*100

MinTemp          0.000000
MaxTemp          0.000000
Rainfall         0.000000
WindGustDir      4.468385
WindGustSpeed    4.458727
WindDir9am       5.614830
WindDir3pm       0.000000
WindSpeed9am     0.000000
WindSpeed3pm     0.000000
Humidity9am      0.000000
Humidity3pm      0.000000
Pressure9am      8.332714
Pressure3pm      8.285162
Temp9am          0.000000
Temp3pm          0.000000
RainToday        0.000000
RainTomorrow     0.000000
dtype: float64

In [29]:
df['WindGustDir'].value_counts()

WindGustDir
W      9499
SE     9042
N      8730
SSE    8720
S      8694
E      8670
WSW    8625
SW     8556
SSW    8382
WNW    7776
NW     7743
ENE    7685
ESE    7001
NE     6855
NNW    6360
NNE    6238
Name: count, dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134590 entries, 0 to 142192
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   MinTemp        134590 non-null  float64
 1   MaxTemp        134590 non-null  float64
 2   Rainfall       134590 non-null  float64
 3   WindGustDir    128576 non-null  object
 4   WindGustSpeed  128589 non-null  float64
 5   WindDir9am     127033 non-null  object
 6   WindDir3pm     134590 non-null  object
 7   WindSpeed9am   134590 non-null  float64
 8   WindSpeed3pm   134590 non-null  float64
 9   Humidity9am    134590 non-null  float64
 10  Humidity3pm    134590 non-null  float64
 11  Pressure9am    123375 non-null  float64
 12  Pressure3pm    123439 non-null  float64
 13  Temp9am        134590 non-null  float64
 14  Temp3pm        134590 non-null  float64
 15  RainToday      134590 non-null  object
 16  RainTomorrow   134590 non-null  object
 17  NewWGS_mean    134590 non-null  float64
 18  NewWGS_med     134590 non-null  float64
dtypes: float64(14), object(5)
memory usage: 20.5+ MB

In [30]:
df.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'WindGustDir', 'WindGustSpeed',
       'WindDir9am', 'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm',
       'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [31]:
df.isnull().mean()*100

MinTemp          0.000000
MaxTemp          0.000000
Rainfall         0.000000
WindGustDir      4.468385
WindGustSpeed    4.458727
WindDir9am       5.614830
WindDir3pm       0.000000
WindSpeed9am     0.000000
WindSpeed3pm     0.000000
Humidity9am      0.000000
Humidity3pm      0.000000
Pressure9am      8.332714
Pressure3pm      8.285162
Temp9am          0.000000
Temp3pm          0.000000
RainToday        0.000000
RainTomorrow     0.000000
dtype: float64

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134590 entries, 0 to 142192
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   MinTemp        134590 non-null  float64
 1   MaxTemp        134590 non-null  float64
 2   Rainfall       134590 non-null  float64
 3   WindGustDir    128576 non-null  object
 4   WindGustSpeed  128589 non-null  float64
 5   WindDir9am     127033 non-null  object
 6   WindDir3pm     134590 non-null  object
 7   WindSpeed9am   134590 non-null  float64
 8   WindSpeed3pm   134590 non-null  float64
 9   Humidity9am    134590 non-null  float64
 10  Humidity3pm    134590 non-null  float64
 11  Pressure9am    123375 non-null  float64
 12  Pressure3pm    123439 non-null  float64
 13  Temp9am        134590 non-null  float64
 14  Temp3pm        134590 non-null  float64
 15  RainToday      134590 non-null  object
 16  RainTomorrow   134590 non-null  object
dtypes: float64(12), object(5)
memory usage: 18.5+ MB

In [67]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
trf = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['Pressure9am','Pressure3pm','WindGustSpeed'])
],remainder='passthrough')

In [68]:
df

,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,3.5,21.8,0.0,E,31.0,ESE,E,15.0,13.0,59.0,27.0,1024.7,1021.2,9.4,20.9,No,No
142189,2.8,23.4,0.0,E,31.0,SE,ENE,13.0,11.0,51.0,24.0,1024.6,1020.3,10.1,22.4,No,No
142190,3.6,25.3,0.0,NNW,22.0,SE,N,13.0,9.0,56.0,21.0,1023.5,1019.1,10.9,24.5,No,No
142191,5.4,26.9,0.0,N,37.0,SE,WNW,9.0,9.0,53.0,24.0,1021.0,1016.8,12.5,26.1,No,No
142192,7.8,27.0,0.0,SE,28.0,SSE,N,13.0,7.0,51.0,24.0,1019.4,1016.5,15.1,26.0,No,No

In [70]:
new_df = trf.fit_transform(df)

In [66]:
new_df.dtype

dtype('O')

In [71]:
new_df

array([[1007.7, 1007.1, 44.0, ..., 21.8, 'No', 'No'],
       [1010.6, 1007.8, 44.0, ..., 24.3, 'No', 'No'],
       [1007.6, 1008.7, 46.0, ..., 23.2, 'No', 'No'],
       ...,
       [1023.5, 1019.1, 22.0, ..., 24.5, 'No', 'No'],
       [1021.0, 1016.8, 37.0, ..., 26.1, 'No', 'No'],
       [1019.4, 1016.5, 28.0, ..., 26.0, 'No', 'No']], dtype=object)

In [72]:
new_df = pd.DataFrame(new_df)
new_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,1007.7,1007.1,44.0,13.4,22.9,0.6,W,W,WNW,20.0,24.0,71.0,22.0,16.9,21.8,No,No
1,1010.6,1007.8,44.0,7.4,25.1,0.0,WNW,NNW,WSW,4.0,22.0,44.0,25.0,17.2,24.3,No,No
2,1007.6,1008.7,46.0,12.9,25.7,0.0,WSW,W,WSW,19.0,26.0,38.0,30.0,21.0,23.2,No,No
3,1017.6,1012.8,24.0,9.2,28.0,0.0,NE,SE,E,11.0,9.0,45.0,16.0,18.1,26.5,No,No
4,1010.8,1006.0,41.0,17.5,32.3,1.0,W,ENE,NW,7.0,20.0,82.0,33.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134585,1024.7,1021.2,31.0,3.5,21.8,0.0,E,ESE,E,15.0,13.0,59.0,27.0,9.4,20.9,No,No
134586,1024.6,1020.3,31.0,2.8,23.4,0.0,E,SE,ENE,13.0,11.0,51.0,24.0,10.1,22.4,No,No
134587,1023.5,1019.1,22.0,3.6,25.3,0.0,NNW,SE,N,13.0,9.0,56.0,21.0,10.9,24.5,No,No
134588,1021.0,1016.8,37.0,5.4,26.9,0.0,N,SE,WNW,9.0,9.0,53.0,24.0,12.5,26.1,No,No
134589,1019.4,1016.5,28.0,7.8,27.0,0.0,SE,SSE,N,13.0,7.0,51.0,24.0,15.1,26.0,No,No

In [73]:
df.info(),new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134590 entries, 0 to 142192
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   MinTemp        134590 non-null  float64
 1   MaxTemp        134590 non-null  float64
 2   Rainfall       134590 non-null  float64
 3   WindGustDir    128576 non-null  object
 4   WindGustSpeed  128589 non-null  float64
 5   WindDir9am     127033 non-null  object
 6   WindDir3pm     134590 non-null  object
 7   WindSpeed9am   134590 non-null  float64
 8   WindSpeed3pm   134590 non-null  float64
 9   Humidity9am    134590 non-null  float64
 10  Humidity3pm    134590 non-null  float64
 11  Pressure9am    123375 non-null  float64
 12  Pressure3pm    123439 non-null  float64
 13  Temp9am        134590 non-null  float64
 14  Temp3pm        134590 non-null  float64
 15  RainToday      134590 non-null  object
 16  RainTomorrow   134590 non-null  object
dtypes: float64(12), object(5)
memory usage: 18.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134590 entries, 0 to 134589
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       134590 non-null  object
 1   1       134590 non-null  object
 2   2       134590 non-null  object
 3   3       134590 non-null  object
 4   4       134590 non-null  object
 5   5       134590 non-null  object
 6   6       128576 non-null  object
 7   7       127033 non-null  object
 8   8       134590 non-null  object
 9   9       134590 non-null  object
 10  10      134590 non-null  object
 11  11      134590 non-null  object
 12  12      134590 non-null  object
 13  13      134590 non-null  object
 14  14      134590 non-null  object
 15  15      134590 non-null  object
 16  16      134590 non-null  object
dtypes: object(17)
memory usage: 17.5+ MB

(None, None)

In [81]:
new_df.isnull().mean()*100

MinTemp          0.000000
MaxTemp          0.000000
Rainfall         0.000000
WindGustDir      0.000000
WindGustSpeed    0.000000
WindDir9am       0.000000
WindDir3pm       4.468385
WindSpeed9am     4.458727
WindSpeed3pm     0.000000
Humidity9am      0.000000
Humidity3pm      0.000000
Pressure9am      0.000000
Pressure3pm      0.000000
Temp9am          0.000000
Temp3pm          0.000000
RainToday        0.000000
RainTomorrow     0.000000
NewWGS_mean      0.000000
NewWGS_med       0.000000
p9_mean          0.000000
p9_med           0.000000
p9_knn           0.000000
new_dir          0.000000
dtype: float64

In [82]:
df['WindDir9am'].value_counts()

WindDir9am
N      10953
SSE     8752
E       8734
SE      8703
S       8255
W       7976
NW      7928
SW      7894
NNE     7702
NNW     7555
ENE     7465
ESE     7243
SSW     7186
NE      7185
WNW     6878
WSW     6624
Name: count, dtype: int64

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134590 entries, 0 to 142192
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   MinTemp        134590 non-null  float64
 1   MaxTemp        134590 non-null  float64
 2   Rainfall       134590 non-null  float64
 3   WindGustDir    128576 non-null  object
 4   WindGustSpeed  128589 non-null  float64
 5   WindDir9am     127033 non-null  object
 6   WindDir3pm     134590 non-null  object
 7   WindSpeed9am   134590 non-null  float64
 8   WindSpeed3pm   134590 non-null  float64
 9   Humidity9am    134590 non-null  float64
 10  Humidity3pm    134590 non-null  float64
 11  Pressure9am    123375 non-null  float64
 12  Pressure3pm    123439 non-null  float64
 13  Temp9am        134590 non-null  float64
 14  Temp3pm        134590 non-null  float64
 15  RainToday      134590 non-null  object
 16  RainTomorrow   134590 non-null  object
dtypes: float64(12), object(5)
memory usage: 18.5+ MB

In [74]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134590 entries, 0 to 134589
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       134590 non-null  object
 1   1       134590 non-null  object
 2   2       134590 non-null  object
 3   3       134590 non-null  object
 4   4       134590 non-null  object
 5   5       134590 non-null  object
 6   6       128576 non-null  object
 7   7       127033 non-null  object
 8   8       134590 non-null  object
 9   9       134590 non-null  object
 10  10      134590 non-null  object
 11  11      134590 non-null  object
 12  12      134590 non-null  object
 13  13      134590 non-null  object
 14  14      134590 non-null  object
 15  15      134590 non-null  object
 16  16      134590 non-null  object
dtypes: object(17)
memory usage: 17.5+ MB

tnf1__Pressure9am          0.0
tnf1__Pressure3pm          0.0
tnf1__WindGustSpeed        0.0
tnf2__WindGustDir          0.0
tnf2__WindDir9am           0.0
remainder__MinTemp         0.0
remainder__MaxTemp         0.0
remainder__Rainfall        0.0
remainder__WindDir3pm      0.0
remainder__WindSpeed9am    0.0
remainder__WindSpeed3pm    0.0
remainder__Humidity9am     0.0
remainder__Humidity3pm     0.0
remainder__Temp9am         0.0
remainder__Temp3pm         0.0
remainder__RainToday       0.0
remainder__RainTomorrow    0.0
dtype: float64

In [57]:
df.shape

(134590, 17)

In [59]:
from scipy import stats
z = np.abs(stats.zscore(df._get_numeric_data()))
print(z)

         MinTemp   MaxTemp  Rainfall  WindGustSpeed  WindSpeed9am  \
0       0.189864  0.051090  0.204727            NaN      0.665963
1       0.751229  0.260420  0.276366            NaN      1.145581
2       0.111440  0.345377  0.276366            NaN      0.552741
3       0.468901  0.671046  0.276366            NaN      0.353031
4       0.832944  1.279906  0.156968            NaN      0.805917
...          ...       ...       ...            ...           ...
142188  1.362939  0.206845  0.276366            NaN      0.099855
142189  1.472733  0.019708  0.276366            NaN      0.126588
142190  1.347254  0.288739  0.276366            NaN      0.126588
142191  1.064926  0.515292  0.276366            NaN      0.579474
142192  0.688489  0.529451  0.276366            NaN      0.126588

        WindSpeed3pm  Humidity9am  Humidity3pm  Pressure9am  Pressure3pm  \
0           0.596717     0.122584     1.410490          NaN          NaN
1           0.366490     1.291697     1.265943          NaN          NaN
2           0.826945     1.605982     1.025030          NaN          NaN
3           1.129991     1.239316     1.699586          NaN          NaN
4           0.136262     0.698773     0.880482          NaN          NaN
...              ...          ...          ...          ...          ...
142188      0.669535     0.505985     1.169578          NaN          NaN
142189      0.899763     0.925032     1.314125          NaN          NaN
142190      1.129991     0.663128     1.458673          NaN          NaN
142191      1.129991     0.820270     1.314125          NaN          NaN
142192      1.360218     0.925032     1.314125          NaN          NaN

         Temp9am   Temp3pm
0       0.012126  0.007290
1       0.034234  0.368404
2       0.621472  0.209514
3       0.173317  0.686184
4       0.126956  1.148410
...          ...       ...
142188  1.171147  0.122711
142189  1.062972  0.093958
142190  0.939343  0.397293
142191  0.692085  0.628406
142192  0.290291  0.613962

[134590 rows x 12 columns]